body{
    background-color: aqua;
    font-family: 'Courier New', ;
    font-size: 300%;
    
}
h1{
color: azure;
text-align: center;
}
p{
    margin: 10%;
    line-height: 10%;
    text-indent: 5%;
}
ul{
    padding: 70px;
    list-style-type: decimal-leading-zero;
}
